<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JPMart">

        <!-- UI: analytics -->
        <activity
            android:name=".ui.analytics.TopCustomer"
            android:exported="false" />
        <activity
            android:name=".ui.analytics.BestSeller"
            android:exported="false" />
        <activity
            android:name=".ui.analytics.Revenue"
            android:exported="false" />

        <!-- UI: managing -->
        <activity
            android:name=".ui.managing.BillDetail"
            android:exported="false" />
        <activity
            android:name=".ui.managing.Bill"
            android:exported="false" />
        <activity
            android:name=".ui.managing.Customer"
            android:exported="false" />
        <activity
            android:name=".ui.managing.Employee"
            android:exported="false" />
        <activity
            android:name=".ui.managing.Product"
            android:exported="false" />
        <activity
            android:name=".ui.managing.Category"
            android:exported="false" />

        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />

        <!-- UI: user -->
        <activity
            android:name=".ui.user.ChangePassword"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
